.intro {
  padding: 50px 0 49px;
  background: url("../img/svg/header-bg.svg") center no-repeat;
  background-size: cover;
  background: conic-gradient(from 130.31deg at 16.03% 39.06%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);

  @include tablet {
    padding: 82px 0;
  }

  @include mobile {
    padding: 91px 4.5% 80px;
  }
}

.intro__content {
  width: 82.75%;

  @include tablet {
    width: 100%;
  }

  @include mobile {
    width: 100%;
  }
}

.intro__social-list {
  @include reset-list;
  align-self: flex-end;
  margin-bottom: 45px;

  @include tablet {
    display: none;
  }
}

.intro__social-link {
  @include font-source ("Roboto Condensed", $white, 400);
  @include font-size(12px, 14px);
  display: block;
  margin-top: 19px;
  text-decoration: none;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: $blue--lightest;
  }

  &:active {
    color: $blue--light;
  }
}
