.price {
  position: relative;
}

.price__currency {
  color: $blue--darken;
}

.price__shadow {
  @include pos-abs($r: 0, $b: -6%, $l: 0);
  @include font-source("Roboto Condensed", $grey, 700);
  @include font-size(100px, 150px);
  opacity: 0.48;
  z-index: -1;

  @include mobile {
    @include font-size(80px, 120px);
    //right: 21%;
  }
}
