.request-form {
  width: 100%;
  margin-top: 46px;

  @include tablet {
    margin-top: 39px;
  }

  @include mobile {
    margin-top: 42px;
  }
}

.request-form__content {
  @include flex-container($wrap: wrap);
  @include font-source("Roboto Condensed", $white);
}

.request-form__field {
  @include font-size(14px, 16px);
  display: block;
  width: 46%;
  padding: 4px 0;
  color: $white;
  border: none;
  border-bottom: 1px solid $blue--lighten;
  background: $blue--darken;
  outline: none;

  &::placeholder {
    color: $white;
  }

  &:focus {
    outline: none;
  }

  @include tablet {
    width: 44%;
  }

  @include mobile {
    width: 100%;
    margin-bottom: 35px;
  }

  &--error {
    border: 1px solid $red--light;
  }
}

.request-form__btn {
  @include font-size(14px, 16px, 0.05em);
  width: 100%;
  margin-top: 29px;
  padding: 17px;
  text-align: center;
  color: $white;
  font-weight: 700;
  text-transform: uppercase;
  background: $blue--darken;
  border: 3px solid $white;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $blue--darken;
    background: $white;
  }

  &:active {
    color: $blue--darken;
    background: darken($white, 15%);
  }

  @include mobile {
    margin-top: 3px;
  }
}

.request-form__error-notice {
  display: none;
  margin: 0 0 5px;
  font-size: 13px;
  color: $red--light;

  &--visible {
    display: block;
  }
}
