.page-footer {
  padding: 31px 0 29px;
  background: $bg-footer;

  @include tablet {
    padding: 34px 0 32px;
  }

  @include mobile {
    padding: 39px 0 19px;
  }
}

.page-footer__container {
  @include flex-container($spacing: center, $alignment: center, $wrap: wrap);
  @include horizontalCenter(85%);
  position: relative;

  @include tablet {
    width: 88%;
  }

  @include mobile {
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
  }
}

.page-footer__nav {
  flex-grow: 1;
  padding: 10px 0;

  @include mobile {
    padding: 10px 0 0;
  }
}

.page-footer__logo {
  display: block;
  padding: 10px 0;

  &:hover,
  &:focus {
    svg {
      fill: $blue--lightest;
    }
  }

  &:active {
    svg {
      fill: $blue--lightest;
    }
  }

  @include mobile {
    @include pos-abs($t: 1%, $l: 0);
    @include box(20px, 87px);
  }

  svg {
    @include box(auto, 20px);
    fill: $white;

    @include tablet {
      height: 18px;
    }

    @include mobile {
      height: 15px;
    }
  }
}

.page-footer__social {
  padding: 10px 0;
}
