.page-footer {
  padding: 41px 0 45px;
  background: $bg-footer;

  @include tablet {
    padding: 45px 0 41px;
  }

  @include mobile {
    padding: 50px 0;
  }
}

.page-footer__container {
  @include flex-container($alignment: center);
  @include horizontalCenter(85%);
  position: relative;

  @include tablet {
    width: 88%;
  }

  @include mobile {
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
  }
}

.page-footer__nav {
  flex-grow: 1;
}

.page-footer__logo {
  display: block;

  &:hover,
  &:focus {
    svg {
      fill: $blue--lightest;
    }
  }

  &:active {
    svg {
      fill: $blue--lightest;
    }
  }

  @include mobile {
    @include pos-abs($r: 0, $l: 0);
    @include box(20px, 87px);
  }

  svg {
    @include box(auto, 20px);
    fill: $white;

    @include tablet {
      height: 18px;
    }

    @include mobile {
      height: 15px;
    }
  }
}

//////////////////@include
.footer-nav {
  /*width: 38.5%;
  max-width: 80%;*/
}

.footer-nav__list {
  @include flex-container($spacing: center);
  @include reset-list;
  @include horizontalCenter(90%);
  padding: 0 10px 0 34px;

  @include tablet {
    padding: 0 10px 0 22px;
  }

  @include mobile {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 123px;
    margin: 0;
    padding: 0;
  }
}

.footer-nav__item {
  margin-right: 26px;

  @include tablet {
    margin-right: 17px;
  }

  @include mobile {
    margin-right: 91%;
    margin-bottom: 24px;
    padding: 0;

    &:first-of-type {
      margin-top: 40px;
    }
  }

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.footer-nav__link {
  @include font-source("Roboto Condensed", $white, 400);
  @include font-size(14px, 16px);
  display: block;
  padding: 0 7px;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $blue--lightest;
  }

  &:active {
    color: $blue--light;
  }

  @include mobile {
    padding: 0;
    letter-spacing: 0.07em;
  }
}

/////////////////////////////////

.footer-social {
  @include flex-container($spacing: flex-end, $alignment: center);
  @include reset-list;

  @include mobile {
    margin-top: 10px;
  }
}

.footer-social__item {
  margin-right: 25px;

  &:last-of-type {
    margin-right: 0;
  }

  @include tablet {
    margin-right: 20px;
  }

  @include mobile {
    margin-right: 35px;
  }
}

.footer-social__link {
  &:hover,
  &:focus {
    .footer-social__icon {
      fill: $blue--lightest;
    }
  }

  &:active {
    .footer-social__icon {
      fill: $blue--lightest;
    }
  }

  .footer-social__icon {
    @include box(auto, 24px);
    fill: $white;

    @include mobile {
      @include box(auto, 27px);
    }

    &--vk {
      @include box(auto, 13px);

      @include mobile {
        @include box(auto, 17px);
      }
    }
  }
}
