.advantages {
  text-align: center;
  padding-top: 115px;
  padding-bottom: 105px;

  @include tablet {
    padding-top: 95px;
    padding-bottom: 84px;
  }

  @include mobile {
    padding-top: 65px;
    padding-bottom: 22px;
  }
}

.advantages__title {
  margin-bottom: 70px;

  @include tablet {
    margin-bottom: 47px;
  }

  @include mobile {
    margin-bottom: 54px;
  }
}

.advantages__inner {
  @include flex-container($direction: column);
  width: 89%;
  position: relative;

  @include tablet {
    width: 100%;
  }
}

.advantages__group {
  @include flex-container($wrap: wrap);
  width: 100%;
  //margin-bottom: 148px;
  padding: 79px 0 68px;
  border-bottom: 2px solid $red--lighten;

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    padding-bottom: 0;
    border-bottom: none;
  }

  @include tablet {
    //margin-bottom: 35px;
    padding: 0;
    border-bottom: none;
  }

  @include mobile {
    margin-bottom: 0;
  }
}

.advantages__item {
  margin: 0;
  width: 34%;

  @include tablet {
    padding: 0;
    width: 48%;
  }

  @include mobile {
    margin: 0 auto 41px;
    width: 71%;
  }
}

.advantages__center {
  @include pos-abs($t: 48%,$r: 50%);
  width: 34.9%;
  margin: 0;
  transform: translate(50%, -50%);

  @include tablet {
    @include horizontalCenter(65.2%);
    position: relative;
    margin-top: 35px;
    margin-bottom: 42px;
    right: 0;
    top: 0;
    transform: none;
  }

  @include mobile {
    margin-top: 2px;
    margin-bottom: 48px;
  }
}
