.advantage-center {
  @include font-source("Roboto Condensed", $white, 700);
  padding: 0 5.8%;
  background: $bg-section--purple;

  @include tablet {
    padding: 0;
    //max-width: 555px;
  }

  @include mobile {
    width: 100%;
    //max-width: 415px;
  }
}

.advantage-center__container {
  @include flex-container($direction: column);
  background: $blue--dark;
  padding: 23% 14.3% 24%;

  @include tablet {
    padding: 7.5% 29.3% 9%;
  }

  @include mobile {
    padding: 11.5% 22.3% 13.5%;
  }
}

.advantage-center__title {
  @include font-size(26px, 42px);
  margin: 0 auto 31px;
  max-width: 250px;

  @include tablet {
    @include font-size(22px, 30px);
    margin: 0 auto 15px;
    max-width: 230px;
  }

  @include mobile {
    line-height: 22px;
  }
}

.advantage-center__counter {
  @include font-size(74px, 74px);
}

.advantage-center__description {
  @include font-size(16px, 24px);
  margin: 0;
  font-weight: 400;

  @include tablet {
    margin: 0;
  }
}
