.memberships-card {
  @include font-source($family: "Roboto Condensed", $weight: 700);
  padding: 50px 0 61px;
  border: 7px solid;
  border-color: $white;
  background: $white;
  transition: all 0.3s ease;

  &:hover {
    transition: all 0.3s ease;
    border-color: transparent;
    border-image: linear-gradient(-225deg, #d10942 0%, #00359f 100%) 1;

    .memberships-card__btn {
      color: $white;
      box-shadow: none;
      background: linear-gradient(111.72deg, #ed0233 17.6%, #003eb7 95.31%);
    }
  }

  @include tablet {
    padding: 49px 0 61px;
  }

  @include mobile {
    width: 100%;
    text-align: center;
    padding: 43px 0 48px;
  }
}

.memberships-card__title {
  @include font-size(26px, 40px);
  color: $blue--darken;
  margin: 0;

  @include mobile {
    @include font-size(22px, 24px);
  }
}

.memberships-card__description {
  @include font-size(16px, 24px);
  margin: 5px 0 0;
  font-weight: 400;
  color: $blue--light;

  @include mobile {
    margin: 9px 0 0;
  }
}

.memberships-card__price {
  @include font-size(60px, 90px);
  position: relative;
  margin: 65px 0 0;
  color: $blue;
  z-index: 0;

  @include mobile {
    @include font-size(48px, 72px);
    margin: 54px 0 0;
  }
}

.memberships-card__btn {
  @include font-size(12px, 14px, 0.05em);
  @include horizontalCenter (59%);
  display: block;
  margin-top: 34px;
  padding: 25px 15px;
  color: $blue--darken;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: inset 0 0 0 2px $blue--dark;

  @include tablet {
    width: 49%;
  }

  @include mobile {
    margin-top: 31px;
    width: 75%;
  }
}
