.gym-video {
  //position: relative;
}

.gym-video__player {
  display: none;
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 62.5%;
  overflow: hidden;

  @include tablet {
    padding-bottom: 63.5%;
  }

  @include mobile {
    padding-bottom: 52%;
  }


  iframe {
    @include box(100%, 100%);
    @include pos-abs(0, 0, 0, 0);
    overflow: hidden;
  }
}

.gym-video__player.active {
  display: block;
}

.gym-video__cover {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 62.5%;
  overflow: hidden;

  @include tablet {
    padding-bottom: 63.5%;
  }

  @include mobile {
    padding-bottom: 52%;
  }

  img {
    @include box(100%, auto);
    @include pos-abs(0, 0, 0, 0);
    overflow: hidden;
  }
}

.gym-video__btn {
  @include pos-abs-center;
  @include box(5.272vw, 5.272vw);
  border-radius: 100%;
  background: linear-gradient(44.89deg, #003d85 25.38%, #b80027 74.89%);
  transition: all 0.3s ease;

  &:hover,
  &:focus {
    box-shadow: 1px -1px 6px 0 $red,
                -1px 1px 6px 0 $blue;
  }

  &:active {
    box-shadow: none;

    &::after {
      transition: opacity 0.3s ease;
      opacity: 1;
    }
  }

  @include tablet {
    @include box(6.77vw, 6.77vw);
  }

  @include mobile {
    @include box(16.25vw, 16.25vw);
  }

  &::before {
    @include pseudo-abs(null, null, 50%, 50%);
    border: 0.52vw solid transparent;
    border-left: 0.9vw solid #ffffff;
    border-right: none;
    transform: translate(70%, -58%);

    @include tablet {
      border: 0.72vw solid transparent;
      border-left: 1.3vw solid #ffffff;
      transform: translate(68%, -58%);
    }

    @include mobile {
      border: 1.6vw solid transparent;
      border-left: 2.5vw solid #ffffff;
      transform: translate(78%, -58%);
    }
  }

  &::after {
    @include pseudo-abs(7.272vw, 7.272vw, 50%, 50%);
    border: 2px solid;
    border-image: url("../img/svg/ellipse.svg") 0 0 0 0 fill;
    transform: translate(50%, -50%);
    opacity: 0.2;

    @include tablet {
      @include box(9.5vw, 9.5vw);
    }

    @include mobile {
      @include box(22.8vw, 22.8vw);
    }
  }
}
