.coaches {
  padding-bottom: 120px;

  @include tablet {
    text-align: center;
    padding-bottom: 100px;
  }

  @include mobile {
    padding-bottom: 71px;
  }
}

.coaches__list {
  @include flex-container;
  width: 100%;
}

.coaches__item {
  flex: 0 0 calc(24.139% - 20px);

  @include tablet {
    flex: 0 0 calc(50% - 15px);

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  @include mobile {
    flex: 0 0 100%;
    margin: 0;
  }
}
