.coaches {
  padding-bottom: 120px;

  @include tablet {
    text-align: center;
    padding-bottom: 101px;
  }

  @include mobile {
    padding-bottom: 25px;
  }
}

.coaches__list {
  @include flex-container;
  width: 100%;
}

.coaches__item {
  flex: 0 0 calc(24.139% - 20px);

  @include tablet {
    flex: 0 0 calc(50% - 15px);

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  @include mobile {
    flex: 0 0 100%;
    margin: 0;
  }
}

.coaches__slider {
  position: relative;
  width: 100%;
  margin-top: 55px;

  @include tablet {
    @include horizontalCenter(83.4%);
    margin-top: 45px;
  }

  @include mobile {
    width: 70.625%;
  }
}

.coaches-slider__container {
  width: 100%;
  overflow: hidden;
}


.coaches-slider__ctrl {
  @include pos-abs($t: 50%);
  @include box(16px, 32px);
  padding: 0;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;

  &::after {
    @include pseudo-abs(24px, 24px, 1px);
    position: relative;
    border-bottom: 1px solid $grey;
    border-left: 1px solid $grey;
  }

  &--next {
    right: -55px;

    &::after {
      right: 13px;
      transform: rotate(225deg);
    }
  }

  &--prev {
    left: -55px;

    &::after {
      right: -5px;
      transform: rotate(45deg);
    }
  }

  &:hover,
  &:focus {

  }

  &:active {
    outline: none;
  }

  @include tablet {
    &--next {
      right: -11%;
    }

    &--prev {
      left: -11%;
    }
  }

  @include mobile {
    svg {
      @include box(auto, 19px);
    }

    &--next {
      right: -17%;
    }

    &--prev {
      left: -17%;
    }
  }
}
