.coaches__slider {
  position: relative;
  width: 100%;
  margin-top: 55px;

  @include tablet {
    @include horizontalCenter(83.4%);
    margin-top: 45px;
  }

  @include mobile {
    width: 70.625%;
    max-width: 450px;
  }
}

.coaches-slider__container {
  width: 100%;
  overflow: hidden;
}


.coaches-slider__ctrl {
  @include pos-abs($t: 50%);
  @include box(32px, 32px);
  padding: 0;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;

  &::after {
    @include pseudo-abs(24px, 24px, 0);
    position: relative;
    border-bottom: 1px solid $grey;
    border-left: 1px solid $grey;
  }

  &--next {
    right: -5%;

    &::after {
      transform: rotate(225deg);
    }
  }

  &--prev {
    left: -5%;

    &::after {
      right: -5px;
      transform: rotate(45deg);
    }
  }

  &:active {
    outline: none;
  }

  @include tablet {
    &--next {
      right: -10.5%;
    }

    &--prev {
      left: -10%;
    }
  }

  @include mobile {
    &::after {
      @include box(14px, 14px);
    }

    &--next {
      right: -20%;
    }

    &--prev {
      left: -15%;
    }
  }
}
