.memberships-tabs__nav {
  @include flex-container($spacing: center);
}

.memberships-tabs__panel {
  @include flex-container($spacing: center, $wrap: wrap);
  display: none;
  margin-top: 38px;
  outline: none;

  @include tablet {
    @include horizontalCenter(65%);
    justify-content: center;
    margin-top: 45px;
  }

  @include mobile {
    width: 100%;
    justify-content: center;
    margin-top: 35px;
  }
}

.memberships-tabs__panel.active {
  display: flex;
}
