.contacts-item {
  @include font-source("Roboto Condensed", $blue--darken);
}

.contacts-item__title {
  @include font-size(16px, 24px);
  margin: 0;
  font-weight: 700;

  @include tablet {
    @include font-size(20px, 30px);
    margin-bottom: 6px;
  }
}

.contacts-item__text {
  @include font-size(14px, 27px);
  display: block;
  margin: 0;
  font-weight: 400;

  &--link {
    @include font-source("Roboto Condensed", $blue--darken);
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &:active {
      color: $blue--light;
    }
  }

  @include tablet {
    @include font-size(18px, 27px);
  }
}
