@mixin box($w, $h) {
  width: $w;
  height: $h;
}

@mixin pos-abs ($top: false, $right: false, $bottom: false, $left: false) {
  position: absolute;
  @if $top {
    top: $top;
  }
  @if $right {
    right: $right;
  }
  @if $bottom {
    bottom: $bottom;
  }
  @if $left {
    left: $left;
  }
}

@mixin horizontalCenter ($width) {
  width: $width;
  margin-left: auto;
  margin-right: auto;
}

@mixin flexCenter ($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: space-between;
  align-items: center;
}

@mixin font-source($family: false, $size: false, $colour: false, $weight: false,  $lh: false, $ls: false) {
  @if $family {
    font-family: $family, "Helvetica", "Arial", sans-serif;
  }
  @if $size {
    font-size: $size;
  }
  @if $colour {
    color: $colour;
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $lh {
    line-height: $lh;
  }
  @if $ls {
    letter-spacing: $ls;
  }
}


@mixin pseudo($width: 100%, $height: 100%, $display: block, $pos: absolute, $content: "") {
  @include box($width, $height);
  content: $content;
  display: $display;
  position: $pos;
}

@mixin mobile {
  @media only screen and (max-width: $mobile-max-width) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: $tablet-max-width) {
    @content;
  }
}
