$fontFamyliDefault: "Roboto Condensed", "Arial", sans-serif;
$fontFamyliOption: "Bebas Neue", "Arial", sans-serif;

$mobile-min-width: 320px;
$mobile-max-width: 767px;

$tablet-min-width: 768px;
$tablet-max-width: 1199px;

$desktop-min-width: 1200px;
