$bg-section--white: #ffffff;
$bg-section--purple: #f8f9fc;
$bg-footer: #030a1a;

$blue--lightest: #8b94aa;
$blue--lighten: #74819c;
$blue--light: #495a7d;
$blue: #103aae;
$blue--dark: #1c3374;
$blue--darken: #102654;

$red: #ed0233;

$fontFamyliDefault: "Roboto Condensed", "Arial", sans-serif;
$fontFamyliOption: "Bebas Neue", "Arial", sans-serif;

$mobile-min-width: 320px;
$mobile-max-width: 767px;

$tablet-min-width: 768px;
$tablet-max-width: 1199px;

$desktop-min-width: 1200px;
