.testimonials-card {
  @include font-source("Roboto Condensed", $white);
  padding: 9.7% 11% 10.3%;
  background: $blue--dark;

  @include tablet {
    padding: 9.7% 11.5% 10%;
  }

  @include mobile {
    padding: 15.7% 11.5% 16%;
  }
}

.testimonials-card__inner {
  @include flex-container(column);
  position: relative;
  text-align: left;
  padding-left: 25%;

  @include mobile {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
  }
}

.testimonials-card__box {
  @include pos-abs($t: 3px, $l: 0);
  @include box(18.3%, auto);

  @include mobile {
    position: relative;
    top: 0;
    left: 0;
    width: 39.3%;
    max-width: 100px;
    margin-left: 4%;

    /*top: -5.5%;
    left: 9%;*/
  }
}

.testimonials-card__title {
  @include font-size(20px, 30px);
  margin: 0 0 3.7%;
  font-weight: 700;

  @include mobile {
    width: 44%;
    max-width: 67px;
    line-height: 26px;
    margin: 7% 0 12.7% 9%;
  }
}

.testimonials-card__text {
  @include font-size(16px, 22px);
  margin: 0;
  font-weight: 400;

  @include mobile {
    text-align: center;
  }
}

.testimonials-card__image-wrap {
  position: relative;
  height: 0;
  padding-bottom: 107%;
  /*width: 65.6%;
  margin: 2px 6.4% 0 0;*/
  overflow: hidden;

  @include tablet {
    //padding-bottom: 27%;
  }

  @include mobile {
    //padding-bottom: 97.8%;
  }
}

.testimonials-card__image {
  @include box(100%, auto);
  @include pos-abs(0, 0, 0, 0);
  padding: 5px 0;
  border-radius: 100%;
  overflow: hidden;
}
